@import url(styles.css);

.grid-implicita-explicita {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item:nth-child(13) {
    background-color: #522;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(61, 21, 206) solid 2px;
}

.item:nth-child(14) {
    background-color: rgb(245, 96, 188);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(61, 21, 206) solid 2px;
}

.item {
    background-color: rgb(187, 247, 91);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

