@import url(styles.css);

.grid-alineado {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);

    /*justify-content: stretch;
    justify-content: start;*/
    justify-content: center;
    /*justify-content: end;*/

    /*align-items: stretch;*/
    align-items: start;
    /*align-items: center;*/
    /*align-items: end;*/
}

.item {
    background-color: #5b1bd1;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(4) {
    background-color: #20f504;
    justify-self: center;
    align-self: flex-start
}
